<h1>Hello, Rails!</h1>
<button><%= link_to 'Create Backup', cards_path, method: 'post'  %></button>
<button><%= link_to 'Purge Backup', destroy_all_cards_path, method: 'delete' %></button>
<button><%= link_to 'Search Backup' %></button>